{% extends './base.html' %}
{% load static %}


{% block content %}
<div>
Тут какой код напишешь, тот и будет показываться на странице
market_v2_index.html.

А шапка и футер, и ещё что посчитаешь общим для всех страниц, возьмутся из ./base.html
</br>
Видишь сверху команду, которая говорит о том, какой файл надо расширить с помощью этого блока
</div>

<h3>
используй имена файлов страниц как тут в примере
</h3>
<ul>
<li>
market_v2_index.html - главная страница
</li>
<li>
service_list.html - страница, где показывается список услуг
</li>
<li>
service_detail.html - страница, где показывается описание только одной услуги
</li>
</ul>

{% endblock %}